ACCESS_TOKEN_SECRET=ABC
REFRESH_TOKEN_SECRET=123
DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=
PORT=

SMS_HOST=
SMS_PORT=
SMS_USER=
SMS_PASS=
SMS_FROM=

ACCESS_TOKEN_TTL=
ERIDE_EMAIL=
ERIDE_EMAIL_PASSWORD=
ERIDE_EMAIL_SERVICE=
ERIDE_BASE_URL=
CALL_CENTER_ROLE_ID=
